/* .square {
  position: absolute;
  width: 10%;
  height: 10%;
}

.circle {
  position: absolute;
  width: 10%;
  height: 10%;
}

.rectangle {
  position: absolute;
  width: 50%;
  height: 20%;
  background-color: #0E1739;
}

@media (max-width: 600px) {
  .square {
    width: 20%;
    height: 20%;
  }

  .circle {
    width: 20%;
    height: 20%;
  }

  .rectangle {
    width: 80%;
    height: 30%;
  }
}

#rectangle2 {
  top: 45%;
  width: 50%;
  height: 30%;
  left: 50%;
}

@media (max-width: 600px) {
  #rectangle2 {
    width: 80%;
    height: 40%;
  }
}

#square1 {

  background-image: url("/assets/html-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square2 {

  background-image: url("/assets/css-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square3 {

  background-image: url("/assets/logo-javascript.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square4 {

  background-image: url("/assets/react.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square5 {

  background-image: url("/assets/typescript.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square6 {

  background-image: url("/assets/nodejs-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square7 {

  background-image: url("/assets/php-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square8 {

  background-image: url("/assets/mysql-6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#square9 {

  background-image: url("/assets/postgresql.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#circle1 {

  background-image: url("/assets/laravel-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#circle2 {

  background-image: url("/assets/vue-9.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#circle3 {

  background-image: url("/assets/tailwindcss.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.coluna1 {
  top: 20%;
}

.coluna2 {
  top: 40%;
}

.coluna3 {
  top: 60%;
}

.coluna4 {
  top: 72%;
}

.coluna5{
  top:40%;
}


.linha1 {
  left: 5%;
}

.linha2 {
  left: 15%;
}

.linha3 {
  left: 25%;
}

.linha4 {
  left: 65%;
}

.linha5 {
  left: 75%;
}

.linha6 {
  left: 85%;
}

@media (max-width: 600px) {
  .coluna1 {
    top: 10%;
  }

  .coluna2 {
    top: 30%;
  }

  .coluna3 {
    top: 50%;
  }

  .coluna4 {
    top: 70%;
  }
  
  .coluna5 {
    top: 90%;
  }

  .linha1 {
    left: 10%;
  }

  .linha2 {
    left: 30%;
  }

  .linha3 {
    left: 50%;
  }
  .linha4 {
    left: 70%;
  }
  
  .linha5 {
    left: 90%;
  }
  
  .linha6 {
    left: 95%;
  }
} */